body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 0px;
            margin: 0px;
        }

.sa{

    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}


header{
    background-color: black;
    height: 100px;

}
a{
    color: white;
    padding: 13px;
    text-decoration: none;

}
a:hover{
    color: yellow;
}
.ss{
    background-color: white;
    height: 400px;
    width: 1450px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
img{
    border: solid black;
    border-radius: 5px;
}
.mr{
    background-color: white;
    width: 1450px;
   padding: 40px;
   margin-top: 20px;
   margin-left: 30px;

}

h5{
    display: inline-table;
    justify-content: center;
    text-align: center;
    border:  1px solid black;
    padding: 4px;
    margin-left: 6px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 95px;
}
.th{
    padding: 40px;
}
.parent{
    background-color: white;
    width: 1450px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 50px;
}

input{
    width: 1460px;
      height: 40px;
}

textarea{
    width: 1460px;
    height: 80px;
}
button{
    background-color: black;
    color: white;
    margin-top: 10px;
}
